@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestNoLayout</title>
</head>
<body>
    Merhaba

    <a asp-action="Index" class="btn btn-primary">Ana Sayfa</a>
</body>
</html>
